{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WISH007{% endblock %}

{% block page_content %}

{% if not current_user.is_authenticated() %}
<h1>欢迎！</h1>
{% else %}
<h3>SS 账号信息</h3>
    <hr>
    {% if not current_user.port %}
        <p>你的账号已到期，请<a href="/recharge">充值</a> to recharge.</p>
    {% else %}
        <p>端口号：{{ current_user.port }}</p>
        <p>密&nbsp;&nbsp;&nbsp;码：{{ current_user.ss_password }}</p>
        <p>有效期： {{ current_user.valid_date }}</p>
    {% endif %}
{% endif %}

{% endblock %}
