{% extends "base.html" %}

<!--导入Bootstrap中预先定义好的表单样式渲染Flask-WTF表单-->
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Shadowsocks{% endblock %}

{% block page_content %}
<!-- <div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div> -->
<!--添加和表单相关的渲染代码-->
<!-- {{ wtf.quick_form(form) }} -->

{% if not current_user.is_authenticated() %}
<h1>Hi, Guys!</h1>
{% else %}
<h1>Welcome back, {{ current_user.username }}!</h1>
{% endif %}

<!-- {% for post in posts %}
    <p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p>
</div>
{% endfor %} -->

{% endblock %}
