{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Shadowsocks{% endblock %}

{% block page_content %}

{% if not current_user.is_authenticated() %}
<h1>Hi, Guys!</h1>
{% else %}
<h3>Your Account</h3>
    <hr>
    {% if not current_user.port %}
        <p>Your account is not available, please click here to recharge.</p>
    {% else %}
        <p>Port: {{ current_user.port }}</p>
        <p>Password: {{ current_user.ss_password }}</p>
        <p>Valid date: {{ current_user.valid_date }}</p>
    {% endif %}
{% endif %}

{% endblock %}
