{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block page_content %}
<h1>登录</h1>
<form action="/login" method="post" name="login">
    {{ form.hidden_tag() }}

    <p>用户名<br>
    {{ form.user_name(size=20) }}</p>
    {% for error in form.errors.user_name %}
    <span style="color: red;">*{{ error }}</span>
    {% endfor %}

    <p>密码<br>
    {{ form.user_password(size=20) }}</p>
    {% for error in form.errors.user_password %}
    <span style="color: red;">*{{ error }}</span>
    {% endfor %}

    <p>{{ form.remember_me }} 记住我？</p>
    <p><input type="submit" value="提交"></p>
</form>
{% endblock %}
