{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Shadowsocks{% endblock %}

{% block page_content %}

{% if not current_user.is_authenticated() %}
<h1>Please sign in.</h1>
{% else %}
<h3>Recharge</h3>
<hr>
<p>You can pay with <strong>Alipay</strong> or <strong>Wechat Pay.</strong></p>
<p>Please note your username in the payment interface.</p>
<hr>

<h3>Alipay:</h3>
<p>There are ￥10 / ￥60 / ￥120 for choose.</p>
<p><img src="static/pay_files/alipay_10.png"></p>
    <hr>
<p><img src="static/pay_files/alipay_60.png"></p>
    <hr>
<p><img src="static/pay_files/alipay_120.png"></p>

<hr>
<h3>Wechat Pay:</h3>
<p>There are ￥10 / ￥60 / ￥120 for choose.</p>
<p><img src="static/pay_files/wechatpay_10.png"></p>
    <hr>
<p><img src="static/pay_files/wechatpay_60.png"></p>
    <hr>
<p><img src="static/pay_files/wechatpay_120.png"></p>

{% endif %}

{% endblock %}
